{% extends 'layout.html.twig' %}

{% block content %}
<div class="primer_bloc ultim_bloc">
    <div id="login">
        <form method="post">
            <table>
                <tr>
                    <td class="destacat login_label">
                        <label for="username">User</label>
                    </td>
                    <td class="destacat login_input">
                        <input type="text" value="{{ last_username }}" name="username" id="username" required autofocus>
                    </td>
                    <td class="destacat">
                    </td>
                </tr>
                <tr>
                    <td class="destacat login_label">
                        <label for="password">Password</label>
                    </td>
                    <td class="destacat login_input">
                        <input type="password" name="password" id="password" required>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </td>
                    <td class="destacat login_submit">
                        <button type="submit">login</button>
                    </td>
                </tr>
            </table>

            {% if error %}
                <div id="login_error">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}
