{% if app.request.locale == 'ca' %}
    <div data-configid="4093254/10910992" style="width:100%; height:536px;" class="issuuembed"></div>
    <script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
{% elseif app.request.locale == 'es' or app.request.locale == 'en' %}
    <div data-configid="4093254/35179803" style="width:100%; height:536px;" class="issuuembed"></div>
    <script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
{% endif %}
