<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <style type='text/css'>
            html, body {
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        {% if app.request.locale == 'ca' %}
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="width:758px;height:500px" id="c434febc-a3c0-366e-cd4d-8ee6a96d1280" ><param name="movie" value="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf?mode=mini&amp;shareMenuEnabled=false&amp;printButtonEnabled=false&amp;shareButtonEnabled=false&amp;searchButtonEnabled=false&amp;backgroundColor=%23222222&amp;documentId=120212164105-715e1cdc1c2a4569961eba05f8cca7eb" /><param name="allowfullscreen" value="true"/><param name="menu" value="false"/><param name="wmode" value="transparent"/><embed src="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf" type="application/x-shockwave-flash" allowfullscreen="true" menu="false" wmode="transparent" style="width:758px;height:500px" flashvars="mode=mini&amp;shareMenuEnabled=false&amp;printButtonEnabled=false&amp;shareButtonEnabled=false&amp;searchButtonEnabled=false&amp;backgroundColor=%23222222&amp;documentId=120212164105-715e1cdc1c2a4569961eba05f8cca7eb" /></object>
        {% elseif app.request.locale == 'es' or app.request.locale == 'en' %}
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="width:758px;height:500px" id="42a4e25a-ff32-a36b-0726-de03d2ce7150" ><param name="movie" value="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf?mode=mini&amp;shareMenuEnabled=false&amp;printButtonEnabled=false&amp;shareButtonEnabled=false&amp;searchButtonEnabled=false&amp;backgroundColor=%23222222&amp;documentId=120213202357-657fde78d11b48a1b9eb25e6afeecc6e" /><param name="allowfullscreen" value="true"/><param name="menu" value="false"/><param name="wmode" value="transparent"/><embed src="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf" type="application/x-shockwave-flash" allowfullscreen="true" menu="false" wmode="transparent" style="width:758px;height:500px" flashvars="mode=mini&amp;shareMenuEnabled=false&amp;printButtonEnabled=false&amp;shareButtonEnabled=false&amp;searchButtonEnabled=false&amp;backgroundColor=%23222222&amp;documentId=120213202357-657fde78d11b48a1b9eb25e6afeecc6e" /></object>
        {% endif %}
    </body>
</html>
