{% extends '::base.html.twig' %}

{% block body %}
    <div id="contenidor">
        <div id="cos">
            {% include 'AppBundle::head.html.twig' %}
            {% block content %}{% endblock %}
        </div>
    </div>
    <div id="contenidor_peu">
        {% include 'AppBundle::foot.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
{% endblock %}