/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/config/parameters_ovh.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
test_db/
!test_db/.gitkeep
/composer.phar
/vendor/
/bower_components/
/web/bundles/
/web/documents/