/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/config/parameters_local.yml
/app/config/parameters_ovh.yml
/app/logs/*
!app/logs/.gitkeep
/bin/
/bower_components/
/test_db/
!test_db/.gitkeep
/vendor/
/www/bundles/
/www/.htaccess