#grup img {
    display: block;
}

.components_grup {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 530px;
    margin: auto;
    padding-left: 50px;
}

@media (max-width: 758px) {
    .components_grup {
        padding-left: 11px;
    }
}

.component {
    width: 30%;
    margin: 6px;
    display: flex;
    flex-direction: column;
}

.nom_component {
    font-size: 20px;
}

a.nom_component {
    font-style: normal;
    color: #fcfef9;
}

.instrument {
    font-style: italic;
    color: #e4e2a2;
    font-size: 13px;
}
