/*----------------------- Generic directives -----------------------*/

html, body {
	font-family: "Georgia";
	font-size: 13px;
	color: #fcfef9;
	margin: 0;
	height: 100%;
	background-color: #080803;
}

a {
	text-decoration: none;
	color: #e4e2a2;
	font-style: italic;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: 0;
}

.pp_social .save {
    float: left;
}

.save-button {
    background-image: url(../images/disk.png);
    background-repeat: no-repeat;
    display: block;
    width: 30px;
    height: 16px;
    position: relative;
    top: 2px;
}

.pp_social .facebook {
    width: 85px !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #3f4f25;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #3f4f25;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #3f4f25;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #3f4f25;
}

/*----------------------- Generals -----------------------*/

#contenidor {
	width: 992px;
	margin: auto;
	background-image: url(../images/fons_blau.jpg);
	background-position: bottom;
}

#contenidor_peu {
	width: 992px;
	height: 460px;
	margin: auto;
	background-image: url(../images/fons_peu_blau.jpg);
}

#cap {
	width: 758px;
	height: 200px;
	margin: auto;
	position: relative;
	z-index: 1;
	background-image: url(../images/paper.png);
}

#cos {
	width: 758px;
	margin: auto;
}

.primer_bloc {
	padding-top: 30px;
}

.ultim_bloc {
	padding-bottom: 88px;
}

.table {
    display: table;
}

#peu {
	width: 758px;
	margin: auto;
}

#cap a {
	font-style: normal;
}

#cap a:hover {
	text-decoration: none;
}

#zona_logo {
	width: 620px;
	height: 110px;
	float: left;
	display: block;
	outline: none;
}

#zona_logo span {
	display: none;
}

#idiomes {
	float: right;
	text-align: right;
	margin: 25px 16px 0 0;
	font-size: 17px;
}

#idiomes a {
	color: #fcfef9;
}

#idiomes a:hover {
	color: #22240b;
}

#idiomes span.sel {
	color: #22240b;
}

#menu ul {
	width: 470px;
	position: relative;
	top: 4px;
	left: 104px;
	margin: 0;
}

#menu li {
	list-style-type: none;
	float: left;
	width: 16.66%;
	font-size: 23px;
	text-align: center;
}

#menu li.inici {
	text-align: left;
	width: 10%;
}

#menu li.musica {
	width: 14%;
}

#menu li.videos {
	width: 14%;
}

#menu li.concerts {
	width: 20%;
}

#menu li.fotos {
	width: 14%;
}

#menu li.grup {
	width: 12%;
}

#menu li.contacte {
	text-align: right;
	width: 16%;
}

#menu li a:hover {
	color: #22240b;
	text-decoration: none;
}

#menu a {
	display: block;
	height: 30px;
	color: #fcfef9;
}

#menu a.sel {
	color: #22240b;
}

h2, h3 {
	color: #e4e2a2;
	margin: 0 0 0 1px;
	padding: 0;
	font-weight: normal;
}

h2 {
	font-size: 35px;
	border-top: 2px solid #e6e1bd;
	padding-top: 7px;
}

h3 {
	font-size: 25px;
}

td.destacat {
	background: rgb(6, 8, 2);
	background: rgba(6, 8, 2, 0.3);
	line-height: 19px;
	vertical-align: bottom;
	padding: 6px 0 4px 6px;
}

div.destacat {
	background: rgb(6, 8, 2);
	background: rgba(6, 8, 2, 0.3);
}

h3.destacat {
	background: rgb(6, 8, 2);
	background: rgba(6, 8, 2, 0.3);
	cursor: pointer;
	outline: 0;
}

h3.destacat:hover {
	background: rgba(6, 8, 2, 0.4);
}

.separador_peu {
	height: 2px;
	font-size: 0;
	background-color: #e6e1bd;
	margin-top: 0;
}

.separador_retalls {
	height: 2px;
	font-size: 0;
	background-color: #e6e1bd;
	margin: 10px 0 0 0;
}

.signatura {
	float: right;
	font-style: italic;
	font-size: 11px;
	padding-top: 11px;
}

.clearboth {
	clear: both;
}

div.pp_default .pp_description {
	color: #22240b;
	margin: 10px 0 0 0;
	font-style: italic;
}

.pp_content_container {
	text-align: center;
}


/*----------------------------- Inici -----------------------*/ 

#video_home {
	width: 758px;
	height: 427px;
	margin-top: -54px;
}

#separador_video {
	height: 2px;
	font-size: 0;
	background-color: #e6e1bd;
	margin-top: 30px;
}

#noticia {
	font-size: 32px;
	color: #fcfef9;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);
	text-align: center;
	padding: 23px 0 15px 0;
}


.titol1 {
	font-size: 80px;
	color: #e4e2a2;
	line-height: 80px;
}

#concerts {
	padding-bottom: 30px;
}

#concerts h2 {
	padding: 13px 0 0 2px;
}

#concerts table {
	width: 100%;
	border-collapse: collapse;
	margin: 12px 0 0 1px;
}

td.data_concert_home {
	font-size: 25px;
	width: 87px;
}

td.lloc_concert_home {
	font-size: 25px;
	color: #e4e2a2;
}

td.mes_info {
	font-size: 11px;
	text-align: right;
	padding: 0 11px 6px 0;
}

td.text_concert_home {
	font-size: 12px;
	padding: 3px 0 17px 6px;
	font-style: italic;
}


/*----------------------------- Musica -----------------------*/

.disc {
	padding: 19px 0 48px 0;
	line-height: 16px;
}

.caratula_disc {
	float: left;
	width: 266px;
}

.links_disc {
	padding: 10px 0 0 3px;
	font-size: 11px;
	color: #e4e2a2;
}

.detalls_disc {
	float: left;
	width: 491px;
}

.titol_disc {
	font-size: 25px;
	padding: 9px 0 6px 12px;
	float: left;
}

.any_disc {
	color: #e4e2a2;
	font-size: 13px;
	float: left;
	padding: 11px 0 0 8px;
}

.llsita_cancons {
	color: #e4e2a2;
	font-size: 13px;
	padding: 16px 0 0 11px;
}

.colab {
	font-style: italic;
	font-size: 11px;
	color: #fcfef9;
}

.text_disc {
	padding: 18px 0 0 11px;
	text-align: justify;
}

.nota_disc {
    padding-left: 11px;
    font-size: 11px;
}

.recop {
    padding: 19px 0 30px 0;
    line-height: 16px;
    width: 250px;
    height: 450px;
    float: left;
}

.recop_cap {
    padding: 9px 0 6px 12px;
    height: 50px;
}

.recop_titol {
    font-size: 25px;
    line-height: 25px;
}

.recop_edita {
    color: #e4e2a2;
    font-size: 13px;
}

.recop_caratula {
    text-align: center;
    padding: 20px 0 20px 0;
}

.recop_text {
    padding: 0 12px 0 12px;
}

.recop_tema {
    color: #e4e2a2;
    font-size: 13px;
    padding: 0 0 15px 12px;
}

.recop_tema_label {
    font-weight: bold;
}


/*----------------------------- Videos -----------------------*/

.bloc_video {
	padding: 30px 0 9px 0;
}

.text_video {
	padding: 0 0 5px 2px;
}

.titol_video {
	font-size: 20px;
}

.detall_video {
	color: #e4e2a2;
	font-size: 13px;
}

#canal_youtube {
	background-image: url(../images/retall_canal_youtube.png);
	width: 257px;
	height: 108px;
	margin: auto;
	margin-top: 41px;
}

#canal_youtube a {
	font-style: normal;
	text-decoration: none;
}

#canal_youtube div {
	padding: 25px 0 0 2px;
	text-align: center;
	line-height: 33px;
}

#canal_youtube_text_1 {
	color: #22240b;
	font-size: 40px;
}

#canal_youtube_text_2 {
	color: #22240b;
	font-size: 37px;
}


/*----------------------------- Concerts -----------------------*/

#proxims_concerts {
	padding-bottom: 110px;
}

.proxim {
	font-size: 14px;
	padding: 15px 0 25px 3px;
}

.proxim table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 0 0 -2px;
}

.data_concert {
	font-size: 25px;
	padding: 3px 0 0 5px;
	width: 90px;
}

.nom_concert {
	font-size: 25px;
	color: #e4e2a2;
	padding: 3px 0 0 3px;
}

.detalls_concert {
	padding: 8px 0 0 4px;
}

.lloc_concert {
	text-transform: uppercase;
	font-weight: bolder;
}

.text_concert {
	font-style: italic;
}

.links_concert {
	padding: 15px 0 0 97px;
	font-size: 11px;
	color: #e4e2a2;
}

#llista_anys {
	padding-top: 25px;
}

.any_concert {
	font-size: 25px;
	padding: 0 0 0 7px;
	color: #e4e2a2;
	margin-bottom: 9px;
}

.llista_concerts_any {
	width: 570px;
	padding: 7px 0 38px 99px;
}

.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	background-image: url(../images/ui-icons_ffffff_256x240.png);
	float: right;
	margin: 6px 14px 0 0;
}

.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }

.separador_concert_anterior {
	background-color: #e6e1bd;
	height: 1px;
	margin: 11px 0;
}

.data_concert_anterior {
	font-size: 20px;
	padding: 3px 0 2px 0;
}

.text_concert_anterior {
	font-style: italic;
}

.links_concert_anterior {
	font-size: 11px;
	color: #e4e2a2;
}


/*----------------------------- Fotos -----------------------*/

.bloc_album {
	padding: 30px 0 9px 0;
}

.bloc_album img {
    display: block;
}

.text_album {
	padding: 0 0 5px 2px;
}

.titol_album {
	font-size: 20px;
}

.detall_album {
	color: #e4e2a2;
	font-size: 13px;
}

.llista_album {
	display: none;
}

.fotograf {
	font-size: 11px;
	text-align: right;
	font-style: italic;
}

.veure_album {
	color: #e4e2a2;
	font-style: italic;
	font-size: 11px;
	text-align: center;
}

#albums {
	background-image: url(../images/retall_albums.png);
	width: 325px;
	height: 72px;
	margin: auto;
	margin-top: 19px;
}

#albums div {
	padding-top: 17px;
	text-align: center;
}

#albums a {
	color: #22240b;
	font-size: 35px;
	font-style: normal;
	text-decoration: none;
}


/*----------------------------- Grup -----------------------*/

#grup img {
    display: block;
}

#components_grup {
	padding: 9px 0 0 142px;
}

#components_grup td {
	padding-bottom: 8px;
}

#primera_col {
	width: 189px;
}

#segona_col {
	width: 167px;
}

.nom_component {
	font-size: 20px;
}

a.nom_component {
	font-style: normal;
	color: #fcfef9;
}

.instrument {
	font-style: italic;
	color: #e4e2a2;
	font-size: 13px;
}


/*----------------------------- Contacte -----------------------*/

#mail {
	text-align: center;
	padding: 33px 0 66px 0;	
}

.descarregues_contacte {
	width: 259px;
	margin: auto;
	margin-bottom: 5px;
}

.nom_document {
	font-size: 20px;
	padding: 3px 0 2px 10px;
	float: left;
}

.descarrega_document {
	color: #e4e2a2;
	font-size: 11px;
	float: left;
	padding: 11px 0 0 8px;
}

#credits {
	text-align: center;
	font-style: italic;
	font-size: 13px;
	margin-top: 50px;
	border-top: 2px solid #e6e1bd;
	padding-top: 40px;
}

#issuu_embed {
	margin-top: 30px;
	text-align: center;
}

#issuu_embed iframe {
	width: 649px;
	height: 510px;
	border: none;
	overflow: hidden;
}

#newsletter {
	background-image: url(../images/newsletter.png);
	width: 259px;
	height: 95px;
	margin: auto;
	margin-top: 41px;
}

#newsletter div {
	padding-top: 16px;
	text-align: center;
}

#newsletter a {
	color: #22240b;
	font-size: 23px;
	font-style: normal;
	text-decoration: none;
}

#newsletter span {
	font-size: 44px;
	line-height: 30px;
}


/*----------------------------- Llista correu -----------------------*/

#llista_correu_text {
	width: 476px;
	margin: auto;
	padding-top: 35px;
}

#llista_correu_text table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 0 5px -1px;
}

td.llista_accio {
	font-size: 20px;
	width: 80px;
}

td.llista_input {
	padding: 4px 0;
	width: 294px;
}

td.llista_input input {
	width: 294px;
	height: 20px;
	background: rgb(5, 7, 1);
	background: rgba(5, 7, 1, 0.3);
	border: 0;
    color: #e4e2a2;
	font-family: "Georgia";
	font-size: 13px;
	font-style: italic;
	padding-left: 8px;
}

td.llista_submit button {
	border: 0;
    background-color: transparent;
    color: #e4e2a2;
    cursor: pointer;
    font-family: "Georgia";
	font-size: 11px;
	font-style: italic;
}

td.llista_submit button:hover{
    text-decoration: underline;
}

#correu_nota {
	font-size: 11px;
	color: #e4e2a2;
	font-style: italic;
	padding-top: 20px;
}